/* screen - imac-3 */

.dosis-normal-black-72px {
  color: var(--black);
  font-family: 'Dosis', Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
.imac-3 {
  background-color: var(--white);
  height: 720px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}
.imac-3 .loading-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Dosis', Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 455px;
  letter-spacing: 18.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 314px;
  width: auto;
}
:root {
  --black: rgba(0,0,0,1.0);
  --white: rgba(255,255,255,1.0);
}
