/* screen - index */

.dosis-bold-black-72px {
  color: var(--black);
  font-family: 'Dosis', Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
}
.dosis-normal-black-30px {
  color: var(--black);
  font-family: 'Dosis', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.dosis-normal-black-72px {
  color: var(--black);
  font-family: 'Dosis', Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
}
.index {
  background-color: var(--white);
  height: 900px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.index .download-1-C61RwL {
  background-color: transparent;
  height: 653px;
  left: 384px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 128px;
  transition: all 0.2s ease;
  width: 672px;
}
.index .download-1-C61RwL:hover {

transform: scale(0.9); 
}
:root {
  --black: rgba(0,0,0,1.0);
  --white: rgba(255,255,255,1.0);
}
